body
{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #247BA0;
    height: auto;
    margin-bottom: 50px;
}

@media (min-width: 800px)
{
    .logo-pic
    {
        width: 200px;
        height: auto;
    }
    
    .content-container_links
    {
        order: 1;
    }

    .content-container
    {
        order: 2;
    }

    .content-container_form
    {
        order: 3;
    }
}


.logo-pic
{
    width: 120px;
    height: auto;
    flex: 1;
    order: 1;
    margin: 20px;
}

.logo_title
{
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex: 1;
    order: 2;
    padding: 20px;
}

.title
{
    font-size: 80px;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    color: white;
    flex: 8;
    order: 2;
    font-family: Arial;
}

.nav-button
{
    display: inline-block;
    background-color: #fff;
    width: 220px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    margin-right: 7px;
    padding-top: 10px; 
    color: #247BA0;
}

.all
{
    display: flex;
    flex-direction: column;
    gap: 50px;

}


.content-container
{
    order: 1;
    padding: 40px;
    font-family: Arial;
    border-radius: 80px;
    color: #fff;
    background-color: #247BA0;
}



.link
{
    font-family: Arial;
    color: #fff;
}

table
{
    margin-left: 50px;
    margin-bottom: 20px;
    width: 700px;
    height: 500px;
    margin-top: 20px;
    border-color: #69BADD;
}

.string1
{
    font-size: small;
    text-align: center;
    font-family: Arial;
    background-color: #69BADD;
}

.string2
{
    font-size: small;
    text-align: center;
    font-family: Arial;
    background-color: #fff;
    color: #69BADD;
}


.content-container_links
{
    order: 2;
    padding: 40px;
    font-family: Arial;
    border-radius: 80px;
    color: #fff;
    background-color: #247BA0;
}

.content-container_form
{
    order: 3;
    padding: 40px;
    font-family: Arial;
    border-radius: 80px;
    color: #fff;
    background-color: #247BA0;
}

footer
{
    margin-top: 50px;
    font-size: 30px;
    padding-top: 40px;
    width: 100%;
    background-color: #247BA0;
    height: 60px;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

